<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/lib/materialize/css/materialize.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="fixed-action-btn horizontal" style="bottom: 110px; right: 15px;">
    <a class="btn-floating btn-large green">
        <i class="large material-icons">add</i>
    </a>
</div>
<header>
    <nav class="default" role="navigation">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo left">
                <embed type="image/svg+xml" src="images/quotin-logo.svg"/>
            </a>
            <a href="#" data-activates="mobile-demo" class="button-collapse right"><i
                        class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">About QuotIn</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Get App</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="#">About QuotIn</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Get App</a></li>
            </ul>
        </div>
    </nav>
</header>
<div class="image-container" style="background: url(/images/image-one.jpg) no-repeat center center fixed;">
    <div class = "dialouge">
        <b >A friend should always underestimate your virtues and an enemy overestimate your faults.</b>
        <p class = "credit">- Mario Puzo, The Godfather</p>
    </div>

    <div class="image-details">
        <img src="images/twitter-logo.svg"/>
        <img src="images/insta-logo.svg"/>
        <img src="images/fb-logo.svg"/>
        <img src="images/g-plus.svg"/>
        <img src="images/download-icon.svg"/>
    </div>
</div>

<div class="image-container" style="background: url(/images/image-two.jpg) no-repeat center center fixed;">
    <div class = "dialouge">
        <b>You can’t win, Darth. Strike me down, and I will become more powerful than you could possibly imagine.</b>
        <p class = "credit">- Obi Wan Kenobi, Star Wars</p>
    </div>
    <div class="image-details">
        <img src="images/twitter-logo.svg"/>
        <img src="images/insta-logo.svg"/>
        <img src="images/fb-logo.svg"/>
        <img src="images/g-plus.svg"/>
        <img src="images/download-icon.svg"/>
    </div>
</div>

<div class="image-container" style="background: url(/images/breaking-bad.jpg) no-repeat center center fixed;">

    <div class = "dialouge">
        <b>I am not in danger. I am the DANGER</b>
        <p class = "credit">- Heisenberg, Breaking Bad</p>
    </div>
    <div class="image-details">
        <img src="images/twitter-logo.svg"/>
        <img src="images/insta-logo.svg"/>
        <img src="images/fb-logo.svg"/>
        <img src="images/g-plus.svg"/>
        <img src="images/download-icon.svg"/>
    </div>
</div>

<footer>
    <p class="copyright left-align">&#169; Copyright Indee 2016. All Rights Reserved.</p>
    <p class="visit">Visin Indee</p>
    <p class="shares">16,325,23 QuotIns Shared</p>
    <div class = "clearfix"></div>
</footer>


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://hammerjs.github.io/dist/hammer.js"></script>
<script src="/lib/materialize/js/materialize.js"></script>
<script src="/javascripts/main.js"></script>
</body>
</html>
